div {
    margin: 0 auto;
    width: 300px;
    height: 60px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div:empty {
    background-color: #FF0000;
}
